@{
    ViewData["Title"] = "Home Page";
}

<div id="leagueTable"></div>
<script type="text/javascript">
    $("#leagueTable").kendoGrid({
        columns: [
            { field: "rank" },
            { field: "teamName" },
            { field: "playedGames" },
            { field: "crestURI" },
            { field: "points" },
            { field: "goals" },
            { field: "rank" },
            { field: "goalsAgainst" },
            { field: "goalDifference" }
        ],
        dataSource: {

            transport: {
                read: "/Football/GetLeagueTable"
            },
            schema: {
                parse: function (response) {
                    
                    return response.standing;
                }
            }
        }
    });

    var $leagueTable = $("#leagueTable").data('kendoDataGrid');
    console.log($leagueTable);
</script>
